@font-face {
  font-family: 'Nunito';
  src: url('fonts/Nunito-Regular.ttf') format('truetype'),
       url('fonts/Nunito-Bold.ttf') format('truetype');
  font-weight: 400 700;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Regular.ttf') format('truetype'),
       url('fonts/OpenSans-Bold.ttf') format('truetype'),
       url('fonts/OpenSans-Italic.ttf') format('truetype'),
       url('fonts/OpenSans-BoldItalic.ttf') format('truetype');
  font-weight: 400 700;
  font-style: normal;
}